body {
  background: black;
}

h1 {
  font-family: "Snell Roundhand", cursive;
  color: tan;
}

h2 {
  font-family: "American Typewriter";
  font-size: 18px;
  color: tan;
}

p {
  font-family: "American Typewriter";
  font-size: 14px;
  color: tan;
}

table, th, td {
  border: 1px solid tan;
}

th {
  font-family: "American Typewriter";
  font-size: 14px;
  color: black;
}

td {
  font-family: "American Typewriter";
  font-size: 14px;
  color: black;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
}  

.flex-child:first-child {
    margin-right: 10px;
} 

